<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Data Display</title>
    <link rel="stylesheet" href="/static/styles.css">
</head>
<body>
    <h1>Carbon Emissions Data for MSCI AW Companies</h1>

    <div>
        <label for="search-input">Search:</label>
        <input type="text" id="search-input" placeholder="Type Company name or SIN" />
        <button id="search-btn">Search</button>
        <button id="clear-btn">Clear</button>
    </div>

    <table>
        <thead>
            <tr>
                <th>Name</th>
                <th>
                    <select id="sector-select" class="dropdown">
                        <option value="all" selected>All Sectors</option>
                    </select>
                </th>
                <th>
                    <select id="region-select" class="dropdown">
                        <option value="all" selected>All Regions</option>
                    </select>
                </th>
                <th>
                    <select id="country-select" class="dropdown">
                        <option value="all" selected>All Countries</option>
                    </select>
                </th>
                <th>
                    <span id="scope1" class="sortable">Scope1</span>
                </th>
                <th>
                    <span id="scope2" class="sortable">Scope2</span>
                </th>
            </tr>
        </thead>
        <tbody id="data-table-body">
            <!-- 数据行会通过 JavaScript 动态生成 -->
        </tbody>
    </table>

    <div id="pagination">
        <button id="prev-btn" class="page-btn"> &lt; </button>
        <input type="number" id="page-input" min="1"/>
        <span>/ <span id="total-pages"></span></span>
        <button id="next-btn" class="page-btn"> &gt;</button>
    </div>


    <br><br><br><br>




    <table id="data-table">
        <thead>
            <tr>
                <th>Company Name</th>
                <th>ISIN</th>
                <th>Sector</th>
                <th>Region</th>
                <th>Country</th>
                <th>Scope 1 (direct)</th>
                <th>Scope 2 (indirect)</th>
                <th>Scope 2 (Market Base)</th>
                <th>Scope 2 (Location Base)</th>
            </tr>
        </thead>
        <tbody>
            <!-- 数据行将通过 JavaScript 动态填充 -->
        </tbody>
    </table>

    <script src="/static/script.js"></script>
</body>
</html>
